body
{
	margin: 0px;
	padding: 0px;
	background: url("6.jpg");
	background-position: right;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
}

.ft
{
	color: yellow;
	text-align: center;
	font-family: tahoma;
	font-size: 25px;
}

#main_div
{
	margin-top: 20px;
	height: 600px;
	width: 1200px;
	border: 2px solid black;
	border-radius: 15px;
	
}

#header
{
	border: 2px solid #a1a1a1;
	width: 600px;
	height:60px;
	margin-top: 10px;
	padding-top: 10px;
	border-radius: 25px;
	box-shadow: 7px 7px 3px aliceblue;
	background: linear-gradient(90deg,#8B0000,#00008B);
	text-align:center;
	font-size:40px;
	color:#FFD700;
	text-shadow: 3px 3px 3px #FF9966;

}

#footer
{
	background-color:#480000  ;
		text-align:center;
		font-size:20px;
		padding: 5px;
		height:120px;
		width:1400px;
		margin-left:-40px;
		position:relative;
		margin-top:50px;
}

#au
{
	width: 650px;
	height: 300px;
	//border: 5px solid black;
	margin-top: 50px;
	margin-bottom: 132px;
	margin-left: -60px;
	opacity: 0.9;
	float: center;
	font-size:2px;
}

a
{
	font-size: 25px;
	font-family: tahoma;
	color: white;
	font-weight: italic;
}